<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="car" class="com.ztx.qa.learnSpring3.Car" init-method="init" destroy-method="destroy">
        <property name="brand" value="Benz"/>
    </bean>

    <!--<bean class="com.ztx.qa.learnSpring3.MyBeanPostProcessor"/>-->

    <bean id="phone1" class="com.ztx.qa.learnSpring3.StaticCarFactory" factory-method="getPhone">
        <constructor-arg value="iOS"/>
    </bean>

    <bean id="phone2" class="com.ztx.qa.learnSpring3.StaticCarFactory" factory-method="getPhone">
        <constructor-arg value="Android"/>
    </bean>
</beans>